<div class="stats">
  <div class="row">
    <div class="col-6">
      <div style="width: 800px; height: 500px">
        <canvas id="canvas">{{ chart }}</canvas>
      </div>
    </div>
    <div class="col-6">
      <div
        style="width: 400px; height: 400px; text-align: center; margin: auto"
      >
        <canvas id="donut">{{ donut }}</canvas>
      </div>
    </div>
    <div class="col-6">
      <div
        style="
          width: 500px;
          height: 500px;
          text-align: center;
          margin: auto;
          margin-top: 50px;
        "
      >
        <canvas id="radar">{{ radar }}</canvas>
      </div>
    </div>
    <div class="col-6">
      <div
        style="
          width: 600px;
          height: 600px;
          text-align: center;
          margin: auto;
          margin-top: 50px;
        "
      >
        <canvas id="line">{{ line }}</canvas>
      </div>
    </div>
  </div>
</div>
