.header {
    background-image: url("../../../../assets/images/header_img.jpg");
    height: 900px;
}

.quote {
    text-align: center;
    color: #151144;
    margin: auto;
    font-weight: bold;
    font-size: 50px;
    padding-top: 20px;
}

span {
    color: #f64c72;
}

p {
    font-size: 14px;
    font-weight: initial;
    bottom: 5px;
    right: 5px;
}