<h1 class="title">Selectionner les paramètres de vos analyses</h1>
<div class="container contactus" id="stats">
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Parametre 1</label>
      <input type="text" class="form-control" id="exampleInputEmail1" />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Parametre 2</label>
      <input type="text" class="form-control" id="exampleInputEmail1" />
    </div>

    <div class="dropdown">
      <span><button class="btn btn-primary">parameteres</button></span>
      <div class="dropdown-content">
        <button class="btn btn-link">option 1</button>
        <button class="btn btn-link">option 2</button>
        <button class="btn btn-link">option 3</button>
        <button class="btn btn-link">option 4</button>
      </div>
    </div>
  </form>
</div>
