.title {
    text-align: center;
    padding-top: 40px;
    margin: auto;
    padding-bottom: 60px;
    font-weight: bold;
    color: #151144;
}

.contactus {
    border-bottom: #f64c72 solid 1px;
    padding: 20px;
    height: 500px;
}

label {
    color: #f64c72;
    font-size: 18px;
    font-weight: bold;
}

.btn {
    float: right;
    background-color: #f64c72;
    color: white;
}

textarea {
    height: 120px;
}

.mb-3 {
    padding: 20px
}