<div class="aboutus">
    <h1 class="title">Ce qu'on vous offre..</h1>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident possimus unde cupiditate voluptates quam deleniti iure perspiciatis veritatis nisi tenetur. Ab nam repellat earum deserunt, consectetur sequi tempora incidunt quo?Lorem ipsum, dolor sit
                    elit. Iure voluptates, rerum eum maiores expedita perspiciatis nihil
                    <br />
                    <br /> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero, accusantium dicta pariatur omnis provident cum ipsa quos magnam repellat consectetur nisi? Dolore culpa accusamus eaque sequi voluptas reprehenderit error aut.
                </p>
            </div>
            <div class="col-4">
                <img class="logo" src="../../../../assets/images/logo.png" alt="logo" />
            </div>
        </div>
    </div>
    <div class="container">
        <hr />
    </div>
</div>